
.panel-body{
    text-align: center;
    min-height: 40vw;
    background: #323232 url("/img/settings_background.jpg") no-repeat center;
    background-size: cover;
    object-fit: cover;
}

.btn{
    position: relative !important;
}

.panel-settings{
    width: 50%;
    margin: auto;
    background-color: rgba(248, 248, 248, 0.98) !important;
    padding: 20px !important;
}

@media screen and (max-width: 768px){
    .panel-settings {
        width: 80%;
    }

}

@media screen and (max-width: 1366px) and (min-width: 769px) {
    .panel-settings {
        width: 65%;
    }
}






