

.admin-panel {
    width: 100%;
    overflow: hidden;
    background-color:#fff;
    position:relative;
    margin: 0;
}

.slidebar {
    width:15%;
    float: left;
    background-color: #323232;
}
.slidebar ul {
    position:relative;
}

.slidebar a{
    color: #bbb;
    text-decoration:none;
}
.slidebar li{
    text-align:center;
    padding: 0 0;
}

ul {
    padding: 0;
    margin:0;
}
li {
    list-style-type: none;
    margin: 0;
    position: relative;
    text-align:center;
    color:#B3B3B3
}
.slidebar i {
    display:block;
    text-align:center;
    color:#B3B3B3;
    font-size: 40px;
    margin-bottom: 8px;
}

.slidebar ul a {
    color:#B3B3B3;
    text-decoration: none;
    box-sizing:border-box;
    display: block;
    text-transform: capitalize;
    padding: 20px;
}
.slidebar li:hover a, li#active{
    background-color: #101010;
}
.slidebar li:hover i, li#active i{
    color: #5cb85c;
}
.slidebar li:focus i {
    color: #5cb85c;
}

.result {
    float: left;
    width: 85%;
    background-color: rgb(255,255,255);
    position: relative;
}

.result div{
     display: none;
 }

.result h2 {
    margin:1em 30px;
    color: #4cae4c;
    font-size: 20px;
    font-weight:600;
    border-bottom: 1px solid #bbb;
    padding: 0px 0px 20px 0px;
}

#tab1 form{
    width: 90%;
    margin: 20px auto auto;
}

#tab1 label{
    margin-top: 10px;
}

#tab1 button{
    margin-top: 10px;
}

#tab2{
    height: 540px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#tab2 li{
    width: 80%;
    min-height: 20px;
    margin: 20px auto auto;
}


#tab2 input{
    width: 50% !important;
    display: inline-block;
    float: left;
}

#tab2 button{
    width: 15% !important;
    float: left;
}


